<h1>Welome to Playlister!</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Create a New Song</a></li>
  <li><a href="/songs">All the Songs Here!</a></li>
  <li><a href="/artists">Artist List</a></li>
  <li><a href="/artists">Genres</a></li>
</ul>